[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bioimagetools"]
	path = bioimagetools
	url = https://github.com/bioimaginggroup/bioimagetools
	shallow = true
	registered = true
[submodule "nucim"]
	path = nucim
	url = https://github.com/bioimaginggroup/nucim
	shallow = true
	registered = true
[submodule "cmR"]
	path = cmR
	url = https://github.com/bioimaginggroup/cmr
	shallow = true
	registered = true
